body,html {
  margin:0;
  padding:0;
  font-family: arial;
}
.top-navigation {
  border-bottom:1px solid #ddd;
  background: #666;
  a {
    display:inline-block;
    padding:.5em 1em;
    border-right:1px solid #aaa;
    color:#eee;
    text-decoration:none;
    &:hover {
      background:#444;
    }
  }
}
.left-navigation {
  float:left;
  width:auto;
  padding:1em;
  border-right:1px solid #eee;
  margin-right:1em;
  .nav-item {
    display:block;
    padding:.5ex 1em;
    border-bottom:1px solid #ddd;
  }
  a {
    color:#333;
    text-decoration:none;
  }
  .submenu {
    margin-left:1em;
  }
}
.content {
  padding:1em;
}

